
.container{
    width: 80%;
    margin: auto;
    padding: 0;
}
table {
    border-collapse: collapse;
}

table th {
    text-align: left;
    background-color: blue;
    color: white;
    padding: 4px 30px 4px 4px;
}

table td {
    border: 1px solid grey;
    padding: 4px 8px;
}

table tr:nth-child(odd) td {
    background-color: #e7edf0;
}

button {
    padding: 5px;
    background-color: #777;
    color: white;
}

button:hover{
    color: black;
}



